* {
    font-family :-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease;
    /* max-width: 100%; */
}

html {
    scroll-behavior: smooth;
    background-color: #f0f0f0;
}

.main-container{
    width: 100%;
}
.main-container .row{
    display: flex;
    margin: 40px auto;
    margin-bottom: 0;
    min-height: 100vh
}
.main-container .row .box-config{
    background-color: #ffffff;
    padding: 20px;
    width: 340px;
    box-shadow: 0 0 3px 0 #8e8e8ecc;
    border-radius: 5px;
    
}
.main-container .row .box-info{
    width: calc(100% - 500px);
    padding-left: 180px;
    padding-right: 40px;
    min-width: 900px;
    background-color: #f0f0f0;
}
.main-container .row .box-config .text-header{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.main-container .row .box-config .box-control-config{
    margin-top: 25px;
    display: flex;
    font-size: 18px;
    justify-items: center;
    margin-bottom: 15px;
}
.main-container .row .box-config .box-control-config label{
    font-size: 17px;
}
.main-container .row .box-config .box-control-config input{
    width: 15px;
    height: 15px;
    transform: translateY(1px);
    cursor: pointer;
}
.main-container .row .box-info .box-info-view{
    width: 100%;
    margin-bottom: 40px;
}
.main-container .row .box-info .name-header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-right: 30px;
    font-size: 26px;
}

.main-container .row .box-info #my-infor{
    width: 100%;
    height: 5.5cm;
    display: flex;    
    box-shadow: 0 0 3px 0 #8e8e8ecc;
    border-radius: 6px;
}

.main-container .row .box-info #my-infor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px 6px 0 0 ;
}

.header-container{
    background-color: white;
    margin-top: -10px;
    font-weight: bold; 
    display: grid;
    grid-template-columns: 5.7cm auto;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 0 #8e8e8ecc;
    border-radius: 6px;
    height: 3cm;
}

.header-container .change-avatar {
    position: relative;
    top: 13px;
    left: 0.5cm;
    width: 151px;
    cursor: pointer;
    opacity: 0;    
}

.header-container .change-avatar img{
    width: 100%;
    height: 100%;
    object-position: center;
}

.header-container .change-avatar:hover {
    opacity: 0.9;
}

.info-container{
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 0 3px 0 #8e8e8ecc;
    border-radius: 6px;
}

.title{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    padding: 12px 16px;
    background: linear-gradient(90deg,#ff362f,#ff8339);
    border-radius: 6px 6px 0 0;
}



.main-container .row .box-info .avatar-preview{
    position: absolute;
    width: 170px;
    height: 170px;
    overflow: hidden;
    box-shadow: 0 0 3px 0 rgba(142, 142, 142, 0.8);
    border-radius: 50% 50%;

}
.main-container .row .box-info .avatar-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: #ccc;
    border-radius: 10px;
    position: absolute;
}

.main-container .row .box-info .avatar-preview img#change-avatar{
    opacity: 0;
    transition: all .2s ease;
    cursor: pointer;
}

.main-container .row .box-info .avatar-preview img#change-avatar:hover{
    opacity: 1;
}

.main-container .row .box-info #my-infor ul{
    margin-left: 15px;
}
.main-container .row .box-info #my-infor ul li, .main-container .row .box-info .description-info{
    font-size: 18px;
    color: var(--dark);
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 6px;
}


.info-label{
    line-height: 35px;
    font-size: 18px;
}

.extra-container{
    background-color: #e0e0e0;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
    display: grid;
}

.extra-container .extra-content{
    padding: 15px 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 0 3px 0 #8e8e8ecc;
}

.extra-item{
    background-color: #fff;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
    padding: 10px 15px;
    margin: 10px ;
}

.extra-title{
    max-width: 97%; 
    text-align: start;
    background-color: #ffffff;
    position: relative;
}

.btn-add{
    padding: 8px 16px 8px 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff362f;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.btn-ad{
    padding: 8px 16px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 650;
    font-size: 17px;
    line-height: 20px;
    border: 2px solid #ec4d4d;
    border-radius: 6px;
    color: #DD3332;
    background: #fff;
    cursor: pointer;
}