@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center{
  position: absolute;

}
.center .stars{
  text-align: start;
}
.stars input{
  display: none;
}
.stars label{
  float: right;
  font-size: 40px;
  color: lightgrey;
  margin: 0 5px;
  text-shadow: 1px 1px #bbb;
}
.stars label:before{
  content: '★';
}
.stars input:checked ~ label{
  color: gold;
  text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
  color: gold;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.stars .result:before{
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-47%);
  bottom: -20px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  display: none;
}
.stars input:checked ~ .result:before{
  display: block;
}
.stars #five:checked ~ .result:before{
  content: "Chuyên gia";
}
.stars #four:checked ~ .result:before{
  content: "Thành thạo";
}
.stars #three:checked ~ .result:before{
  content: "Tương đối thành thạo";
}
.stars #two:checked ~ .result:before{
  content: "Mới làm quen";
}
.stars #one:checked ~ .result:before{
  content: "Chỉ mới nghe qua";
}